@mixin container-desktop {
    .container {
        /* grid-template-columns: 1fr 1fr; */
        /* width: 35vw; */
        width: 650px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(2, min-content);
        grid-template-areas: "description description"
            "signup about";
    }
}