@use '../../variables'as v;

.button {
    display: block;
    background-color: v.$brightYellow;
    border: 2px solid v.$brightYellow;
    color: white;
    font-weight: 700;
    width: 100%;
    font-size: 1.05em;
    line-height: 2.9;
    border-radius: 4.5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 0 auto;
    transition: 0.3s linear;
}